.header{
    background: #ccc;
    border:1px solid #333;
    padding:10px;
}
.header::after{
    content: "";
    display: table;
    clear: both;
}

.header .menu{
    list-style: none;
}

.header .menu li{
    float: left;
    padding: 10px 30px;
    font-size: 25px;
}