.header{
    position: fixed;
    overflow: visible;
    display: block;
    left: 0px;
    width: 230px;
    height: 100%;
    top: 0px;
    z-index: 999;
    background: #2f3742;
}
.header .main-menu{
    padding-bottom: 110px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 80%;
    padding-bottom: 10px;
}
.header .main-menu .logo{
    padding: 30px;
}
.header .main-menu .logo img{
    width: 100%;
    border-radius: 10px;
    animation-name: blinker;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.header .main-menu .menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header .main-menu .menu li a{
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 10px 15px 10px 30px;
    border-right: 0px solid transparent;
    display:block;
}
.header .main-menu .menu li a:hover{
    text-decoration: none;
    color: #07cb79;
    box-shadow: 15px 0px 0px 0px #07cb79 inset;
    border-right: 5px solid #07cb79;
}
.header .main-menu .menu li a.active{
    color: #07cb79;
    box-shadow: 15px 0px 0px 0px #07cb79 inset;
    border-right: 5px solid #07cb79;
}
.header .menu-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: left;
    margin: 20px 20px 20px 30px;
} 
.header .menu-footer li{
    display: inline-block;
}
.header .menu-footer li a{
    display: block;
    font-size: 14px;
    padding-right: 15px;
    color: #ffffff;
}