$font-family: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$primary-color: #3c8dbc;
$primary-color-bold: #367fa9;
$primary-text-color: #333;
$color-grey: #ecf0f5;

/*SKIN RED*/

$skin-red-color: red;
$skin-text-color: #333;