    body {
        font-size: 14px;
    }
    /*pagination*/
    
    .block-pagination {
        color: #333;
        padding: 10px 0;
        .total-item {
            color: #333333;
            font-weight: bold;
        }
    }
    /*table list*/
    
    .table-list {
        background: #fff;
        width: 100%;
        border: 1px solid #e5e5e5;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
        thead {
            border: 1px solid #ddd;
            tr {
                th {
                    padding: 8px 10px;
                    line-height: 1.4em;
                }
            }
        }
        tfoot {
            border: 1px solid #ddd;
            tr {
                th {
                    padding: 8px 10px;
                    line-height: 1.4em;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 8px 10px;
                    line-height: 1.4em;
                }
                &:nth-child(even) {
                    background-color: #f9f9f9;
                }
                &:hover {
                    background-color: #f9f9f9;
                }
            }
        }
    }
    
    .theme-adminLTE,
    .theme-adminLTE.skin-blue {
        background: #222d32;
        font-family: $font-family;
        .main-header {
            position: relative;
            background: $primary-color;
            z-index: 9999;
            .logo {
                width: 230px;
                height: 50px;
                display: block;
                float: left;
                background: $primary-color-bold;
                text-align: center;
                span {
                    color: #fff;
                    line-height: 50px;
                    font-size: 20px;
                }
                .logo-mini {
                    display: none;
                }
                .logo-lg {
                    font-weight: lighter;
                    b {
                        font-weight: bolder;
                    }
                }
            }
            .nav-static-top {
                height: 50px;
                .sidebar-toggle {
                    line-height: 50px;
                    color: #fff;
                    font-size: 20px;
                    padding: 15px;
                    margin-right: 15px;
                    height: 50px;
                    cursor: pointer;
                    &:hover {
                        background: $primary-color-bold;
                    }
                }
                .navbar-custom-menu {
                    padding-right: 15px;
                    ul {
                        li {
                            float: left;
                            color: #fff;
                            line-height: 50px;
                            a {
                                color: #fff;
                                cursor: pointer;
                                padding: 15px;
                                &:hover {
                                    background: $primary-color-bold;
                                }
                            }
                        }
                        .user {
                            a {
                                padding: 0 15px;
                                float: left;
                                .user-image {
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    margin-right: 10px;
                                    margin-top: -2px;
                                }
                                span {
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            width: 230px;
            min-height: 100%;
            .user-panel {
                position: relative;
                width: 100%;
                padding: 10px;
                overflow: hidden;
                .left-image {
                    img {
                        width: 100%;
                        max-width: 45px;
                        height: auto;
                        border-radius: 50%;
                    }
                }
                .right-info {
                    margin-left: 20px;
                    float: left;
                    a {
                        color: #fff;
                        font-weight: bold;
                    }
                    p {
                        color: #fff;
                        font-size: 12px;
                        padding-top: 3px;
                        margin: 0;
                        span {
                            font-size: 13px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .search-form {
                padding: 10px;
                input {
                    width: 100%;
                    color: #666;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 2px;
                    box-shadow: none;
                    background-color: #374850;
                    border: 1px solid transparent;
                    height: 35px;
                    padding-left: 15px;
                    outline: none;
                }
            }
            .sidebar-menu {
                ul {
                    li {
                        clear: both;
                        a {
                            padding: 12px 5px 12px 15px;
                            color: #b8c7ce;
                            display: block;
                            border-left-color: $primary-color;
                            span {
                                margin-right: 10px;
                            }
                        }
                        &:first-child {
                            background: #1a2226;
                            color: #4b646f;
                            padding: 10px 25px 10px 15px;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                        a.active {
                            color: #fff;
                            background: #1e282c;
                            border-left: 3px solid $primary-color;
                        }
                        &:hover {
                            a {
                                color: #fff;
                                background: #1e282c;
                                border-left-color: $primary-color;
                                border-left: 3px solid transparent;
                            }
                        }
                    }
                }
            }
        }
        .main-content {
            background: $color-grey;
            margin-left: 230px;
            .content-block {
                .content-header {
                    margin-bottom: 15px;
                    .left-block {
                        h3 {
                            font-weight: bold;
                            margin-right: 20px;
                            float: left;
                            margin-bottom: 0;
                            padding: 0;
                        }
                        a {
                            padding: 4px 8px;
                            position: relative;
                            text-decoration: none;
                            border: 1px solid #ccc;
                            border-radius: 2px;
                            background: #f7f7f7;
                            text-shadow: none;
                            font-weight: 600;
                            font-size: 13px;
                            line-height: 25px;
                            color: #0073aa;
                            cursor: pointer;
                            outline: 0;
                            &:hover {
                                background: #0073aa;
                                color: #f7f7f7;
                                border: 0;
                            }
                        }
                    }
                    .breadcrumbs {
                        a {
                            margin: 0 5px;
                        }
                    }
                }
                .form-block {
                    .admin-wrapper {
                        background: #fff;
                        border: 1px solid #e5e5e5;
                    }
                    .admin-editor {
                        height: 300px;
                        padding: 10px;
                    }
                    .sidebar-block {
                        .block-publish {
                            box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
                            margin-bottom: 20px;
                            padding: 0;
                            line-height: 1;
                            min-width: 255px;
                            border: 1px solid #e5e5e5;
                            background: #fff;
                            .b-header {
                                h3 {
                                    font-size: 14px;
                                    padding: 8px 12px;
                                    margin: 0;
                                    line-height: 1.4;
                                }
                            }
                            .b-content {
                                border-top: 1px solid #ddd;
                                padding: 8px 12px;
                            }
                            .b-footer {
                                padding: 10px;
                                clear: both;
                                border-top: 1px solid #ddd;
                                background: #f5f5f5;
                                a {
                                    height: 30px;
                                    line-height: 28px;
                                    padding: 6px 12px;
                                    cursor: pointer;
                                    background: #0085ba;
                                    border-color: #0073aa #006799 #006799;
                                    box-shadow: 0 1px 0 #006799;
                                    color: #fff;
                                    text-decoration: none;
                                    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .main-content {
        background: $color-grey;
        margin-left: 230px;
        padding: 15px;
        min-height: 960px;
    }
    
    .theme-adminLTE.skin-red {
        background: #000;
        .main-header {
            position: relative;
            height: 50px;
            background: $skin-red-color;
            z-index: 9999;
        }
        .main-sidebar {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 50px;
            width: 230px;
            min-height: 100%;
        }
        .main-content {
            background: $color-grey;
            margin-left: 230px;
            .content-block {
                .content-header {
                    .left-block {
                        h3 {
                            font-size: 14px;
                            ;
                            font-weight: bold;
                        }
                        a {
                            margin-left: 15px;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
    }